// Vendor
@import "normalize";
@import "webicons";
@import "layout";
@import "colors";
@import "button";
img.right {
  float: right;
}

img.left {
  float: left;
  margin-right: 1rem;
}

.site {
  display: grid;
  grid-template-areas: "header" "synopsis" "main" "location" "social";
}

.header {
  grid-area: "header";
}

.synopsis {
  grid-area: "synopsis";
}

.main {
  grid-area: "main";
}

.location {
  grid-area: "location";
}

.social {
  grid-area: "social";
}