// Vendor
@import "normalize";
@import "webicons";
//SCSS Code
@import "mixin";
@import "layout";
@import "colors";
@import "button";
@import "fluid-type.scss";
img.right {
  float: right;
}

img.left {
  float: left;
  margin-right: 1rem;
}

