//Fluid typography with scaling fontss
$min_font: 0.875em;
$max_font: 1.125em;
$min_width: 35.5em;
$max_width: 58em;
html{
    @include fluid-type($min_width,$max_width,$min_font,$max_font);
}

//Modular Scale Headers
$mod_1: 1.067; //Minor Second
$mod_2: 1.125; //Major Second
$mod_h1_min: $mod_1*$mod_1*$mod_1*$mod_1*$mod_1*$min_font;
$mod_h2_min: $mod_1*$mod_1*$mod_1*$mod_1*$min_font;
$mod_h3_min: $mod_1*$mod_1*$mod_1*$min_font;
$mod_h4_min: $mod_1*$mod_1*$min_font;
$mod_h5_min: $mod_1*$min_font;
$mod_h1_max: $mod_2*$mod_2*$mod_2*$mod_2*$mod_2*$max_font;
$mod_h2_max: $mod_2*$mod_2*$mod_2*$mod_2*$max_font;
$mod_h3_max: $mod_2*$mod_2*$mod_2*$max_font;
$mod_h4_max: $mod_2*$mod_2*$max_font;
$mod_h5_max: $mod_2*$max_font;
h1 {
  @include fluid-type($min_width, $max_width, $mod_h1_min, $mod_h1_max)
}

h2 {
  @include fluid-type($min_width, $max_width, $mod_h2_min, $mod_h2_max)
}

h3 {
  @include fluid-type($min_width, $max_width, $mod_h3_min, $mod_h3_max)
}

h4 {
    @include fluid-type($min_width, $max_width, $mod_h4_min, $mod_h4_max)
}

h5 {
    @include fluid-type($min_width, $max_width, $mod_h5_min, $mod_h5_max)
}