<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <title>{{ .Site.Title }}</title>
  {{$css := resources.Get "css/all.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  {{- range .AlternativeOutputFormats -}}
  {{- $link := `<link rel="%s" type="%s" href="%s" title="%s" />` -}}
  {{- $title := printf "%s - %s" $.Page.Title $.Site.Title -}}
  {{- if $.Page.IsHome -}}
  {{ $title = $.Site.Title }}
  {{- end -}}
  {{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
  {{- end }}
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
