<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item title" href="/">Edmonton Go</a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasic"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasic" class="navbar-menu">
    <a class="navbar-item" href="/meetup/">Meetups</a>
    <a class="navbar-item" href="/workshop/">Workshops</a>
    <a class="navbar-item" href="/tags/">Tags</a>
    <a class="navbar-item" href="/search/">Search</a>
  </div>
</nav>
