<section class="hero is-info">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <img
          class="image"
          src="/images/Go-Logo_White.png"
          alt=""
          style="max-height: 128px; max-width: 128px"
        />
      </div>
      <div class="column is-11">
        <p class="subtitle">
          Go is an open source programming language that enables the production
          of simple, efficient, and reliable software at scale.
        </p>
        <p class="subtitle">
          Edmonton Go is a meetup to collaborate, discuss, and learn Go.
        </p>
      </div>
    </div>
  </div>
</section>
