<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edmonton Go: {{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="google-site-verification" content="EesR8siX5ZhCkifF0oZAk04ZDF-TXub5WDl-cAxyMVg" />
  <link rel="stylesheet" href="/assets/all.css">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<div class="site">

{{ partial "header.html" . }}
{{ partial "synopsis.html" . }}

<div id="main">

  <article>
    <section class="title">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        <p>{{ .Date.Format "2 Jan 2006" }}</p>
      </div>
    </section>
    <section class="content">
      {{ .Content }}
    </section>
  </article>

</div>

{{ partial "location.html" . }}
{{ partial "social.html" . }}

</div>

</body>
</html>