<!DOCTYPE html>
<html lang="en">
  <html>
    {{- partial "head.html" . -}}
    <body>
      <div class="container is-fluid">
        {{- partial "header.html" . -}} {{- partial "synopsys.html" . -}}
        <div class="columns">
          <div class="column is-two-thirds">
            {{- block "main" . }} {{- end }}
          </div>
          <div class="column">{{- partial "location.html" . -}}</div>
        </div>
      </div>
      <script src="/js/main.js"></script>
    </body>
  </html>
</html>
