<section class="social">
<nav class="horizontal">
  <ul>
    <li><a href="https://www.startupedmonton.com/" class="startup-edmonton">Startup Edmonton</a></li>
    <li><a href="https://twitter.com/edmontongo" class="webicon twitter">Twitter</a></li>
    <li><a href="https://plus.google.com/communities/117762797477294931026" class="webicon googleplus">Community on Google+</a></li>
    <li><a href="https://invite.slack.golangbridge.org/" class="slack">Slack</a></li>
    <li><a href="https://github.com/edmontongo" class="webicon github">GitHub</a></li>
  </ul>
</nav>
</section>
