<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edmonton Go: {{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="google-site-verification" content="EesR8siX5ZhCkifF0oZAk04ZDF-TXub5WDl-cAxyMVg" />
  <link rel="stylesheet" href="/assets/all.css">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<div class="site">

{{ partial "header.html" . }}
{{ partial "synopsis.html" . }}

<div id="main">

  <article>

    <nav>
      <ul>
        {{ range first 3 .Data.Pages }}
          <li>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p class="meta">{{ .Date.Format "2 Jan 2006" }}</p>
            <p>{{ .Description }}</p>
          </li>
        {{ end }}
      </ul>
    </nav>

  </article>

</div>

{{ partial "location.html" . }}
{{ partial "social.html" . }}

</div>

</body>
</html>