// Vendor
@import "bulma/bulma.sass";
@import "webicons";
//SCSS Code
@import "colors";

figure {
  &.right {
    float: right;
  }
  &.left {
    float: left;
    margin-right: 1rem;
  }
}

a {
  &:link,
  &:visited {
    color: $blue;
    text-decoration: none;
  }
  &:hover {
    color: $purple;
    text-decoration: none;
  }
  &.button {
    color: white;
    text-decoration: none;
    background-color: #4cb037;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    &:hover {
      background-color: #60e146;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1em auto;
  padding: 0;
  .page-item {
    border: 1px solid #ddd;
    flex: 1;
    text-align: center;
    width: 5em;
  }
  .page-link {
    display: block;
    color: #000;
    text-decoration: none;
  }
  .page-item.active {
    background-color: #333;
  }
  .page-item.active > .page-link {
    color: #fff;
  }
  .page-item.disabled > .page-link {
    color: #ddd;
  }
}
@media only screen and (min-width: 768px) {
  .pagination {
    width: 30%;
  }
}
