/* Webicons by Adam Fairhead at Fairhead Creative http://fairheadcreative.com */

.webicon {
  display: inline-block;
  background-size: 100%;
  width: 58px;
  height: 58px;
  text-indent: -999em;
  border-radius: 2px;
  margin-left: 6px;
}

// Include or remove the icons you want to use on your site from this list.
$webicons-icons: github googleplus hangouts rss twitter vimeo youtube;

// Specify the path to the webicons directory here. Include trailing slash.
$webicons-url: "/images/webicons/" !default;

@each $webicons-icon in $webicons-icons {
  .webicon.#{$webicons-icon} {
    background: url("#{$webicons-url}webicon-#{$webicons-icon}.svg");
  }
}

.startup-edmonton {
  text-indent: -999em;
  background: url("/images/startup_edmonton.png");
  display: inline-block;
  width: 155px;
  height: 58px;
}

.slack {
  text-indent: -999em;
  background: url("/images/slack.png");
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-left: 6px;
}
